node_modules
credentials.json
credentials/
.expo/
.gradle-user-home/
android/.gradle-user-home/

# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore Kotlin plugin data
.kotlin
