node_modules
credentials.json
credentials/
google-services.json
.expo/
.gradle-user-home/
android/.gradle-user-home/

# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
dist/

# Ignore Kotlin plugin data
.kotlin
